input , select{
  margin-top: 8px;
  margin-right: 8px;
}

.save-button, .update-button {
  background-color: #224b26;
  color: white;
  width: 80px;
}

.modal-header h3{
  margin: auto;
}

.alert-danger {
  margin-top: 17px;
}

.calendar-btn {
  background-color: inherit;
  border: 0px;
}
