<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
<script type="text/javascript" src="src/js/ngDatepicker.min.js"></script>

<div class="modal-header">
  <h3>{{ title }}</h3>
</div>
<div class="modal-body">
  <form #userForm="ngForm" novalidate name="usrForm">
    <div>
      <div [hidden]=canUpdate
           class="alert alert-danger"> Can't update. Verify all fields.
      </div>

      <div [hidden]=canCreateUser
           class="alert alert-danger"> Already exist this user.
      </div>


      <div [hidden]="fn.valid || fn.pristine"
           class="alert alert-danger">
        <div [hidden]="!fn.hasError('required')">Name is required</div>
        <div [hidden]="!fn.hasError('pattern')">Only alphabets allowed</div>
      </div>
      <input type="text" class="form-control" id="firstName" placeholder="First name" name="firstName"
             [(ngModel)]="firstName" required
             pattern="[a-zA-Z][a-zA-Z ]*" #fn="ngModel">


      <div [hidden]="ln.valid || ln.pristine"
           class="alert alert-danger">
        <div [hidden]="!ln.hasError('required')">Last Name is required</div>
        <div [hidden]="!ln.hasError('pattern')">Only alphabets allowed</div>
      </div>

      <input type="text" class="form-control" id="lastName" placeholder="Last name" name="lastName"
             [(ngModel)]="lastName" required
             pattern="[a-zA-Z][a-zA-Z ]+" #ln="ngModel">


      <div [hidden]="userMail.valid || userMail.pristine"
           class="alert alert-danger">
        <div [hidden]="!userMail.hasError('required')">Email is required</div>
        <div [hidden]="!userMail.hasError('pattern')">Wrong syntax</div>
      </div>


      <input [disabled]="isUpdateActive" type="email" class="form-control" id="email" placeholder="example@name.com"
             name="email"
             [(ngModel)]="mail"
             required
             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
             #userMail="ngModel"
      >

      <div [hidden]="userRole.valid || userRole.pristine"
           class="alert alert-danger">
        <div [hidden]="!userRole.hasError('required')">Role is required</div>
      </div>


      <select class="form-control" id="role" placeholder="Role" name="role"
              [(ngModel)]="role" (change)="getRole()" required #userRole=ngModel>
        <option [ngValue]="null" disabled aria-selected="true">Choose role for user</option>
        <option value="admin" selected>admin</option>
        <option value="user">user</option>
      </select>


      <div [hidden]="mobile.valid || mobile.pristine"
           class="alert alert-danger">
        <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10 digit</div>
        <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
        <div [hidden]="!mobile.hasError('pattern')">Mobile number should be only numbers</div>
      </div>

      <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" name="phoneNumber"
             [(ngModel)]="phoneNumber"
             pattern="[0-9]*"
             minlength="10"
             maxlength="10"
             #mobile="ngModel">


      <div [hidden]="datePick.valid || datePick.pristine"
           class="alert alert-danger">
        <div [hidden]="!datePick.hasError('required')">Birthday is required</div>
      </div>


      <div class="form-group" [hidden]="isUpdateActive">
        <div name="input-group-div" class="input-group">
          <input [(ngModel)]="dateModel" name="dateModel" class="form-control" placeholder="yyyy-mm-dd"
                 [minDate]="minDate"
                 [maxDate]="maxDate"
                 ngbDatepicker #d="ngbDatepicker"
                 #datePick="ngModel"
                 required
          >
          <button class="calendar-btn" (click)="d.toggle()"><i class="fa fa-calendar"></i></button>
        </div>
      </div>

      <input type="text" class="form-control" disabled [hidden]="!isUpdateActive" [(ngModel)]="birthday" name="birthday">

    </div>



    <div class="modal-footer">
      <button type="submit" class="btn save-button" [disabled]="!userForm.form.valid" [hidden]="isUpdateActive"
              (click)="createNewUser()">Save
      </button>
      <button type="submit" class="btn update-button" [disabled]="!userForm.form.valid" [hidden]="!isUpdateActive"
              (click)="updateUser()">Update
      </button>
      <button type="button" class="btn close-button" (click)="activeModal.close('Close')">Close</button>
    </div>

  </form>
</div>


