<div class="modal-header">
  <h3>Create new board</h3>
</div>
<div class="modal-body">
  <form #projectForm="ngForm" novalidate>

    <div [hidden]=canCreateBoard
         class="alert alert-danger"> Already exist board with this name.
    </div>

    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      <div [hidden]="!name.hasError('required')">Name is required</div>
    </div>

    <div>
      <label for="boardName">Enter the board name</label>
      <input  class="form-control" id="boardName" placeholder="Board name" name="boardName"
             [(ngModel)]="boardName" required #name="ngModel">
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn save-button" [disabled]="!projectForm.form.valid" (click)="createNewBoard()">
        Save
      </button>
      <button type="button" class="btn close-button" (click)="activeModal.close('Close')">Close</button>
    </div>

  </form>
</div>


