<app-scrum-navbar-component></app-scrum-navbar-component>
<h3 class="page-title-h3">Sprint tasks</h3>
<div class="div-page-container container">
  <div class="operations-container">
    <div class="search-container">
      <button class="btn go-to-board-btn" (click)="goToBoardItems()"><i class="fa fa-arrow-circle-left"></i>Back To
        Board
      </button>
      <input type="text" class="search-name-input" [(ngModel)]="taskTitle" placeholder="Task name"
             (keyup)="testIfEmpty()">
      <button class="btn search-button" type="submit" (click)="searchTask()"><i class="fa fa-search"></i> Search
      </button>
    </div>

    <div class="btn-container-div">
      <div class="sprint-operation-div">
        <div class="div-start-sprint" [hidden]="!canStartSprint||!isProductOwner">
          <button class="btn start-sprint-btn" (click)="startSprint()"><i
            class="fa  fa-play"></i>
            Start
          </button>
          <label>No. Days</label>
          <input minlength="1" [max]="30"
                 maxlength="2" class="sprint-days-input"
                 [(ngModel)]="sprintDays"

                 type="text">
        </div>
        <button class="btn end-sprint-btn" [hidden]="!canEndSprint||!isProductOwner" (click)="endSprint()"><i
          class="fa  fa-stop"></i> End sprint
        </button>
        <button class="btn delete-sprint-btn" [hidden]="!canDeleteSprint||!isProductOwner" (click)="deleteSprint()">
          <i
            class="fa fa-trash"></i>Delete
        </button>

        <button class="btn start-sprint-btn" [hidden]="!endedSprint||!isProductOwner" (click)="createReview()"><i
          class="fa  fa-eye"></i>
          Retrospective
        </button>

        <button class="btn add-task-btn" (click)="addTaskFromBacklog()" [hidden]="endedSprint"><i
          class="fa  fa-plus"></i> Task
        </button>
      </div>
      <div [hidden]="canStartSprint" class="user-operation-div"  [hidden]="!canEndSprint">
        <button [hidden]="!isSprintBoardActive" class="btn view-list" (click)="viewList()">View list</button>
        <button [hidden]="isSprintBoardActive" class="btn view-sprint-board" (click)="viewSprintCards()">View sprint
          board
        </button>
        <button class="btn view-current-user-tasks" (click)="viewCurrentUserTasks()"><i class="fa fa-tasks"></i>My tasks</button>
        <button class="btn view-backlog" (click)="viewChart()"><i class="fa fa-line-chart" aria-hidden="true"></i>Burndown chart</button>
      </div>
    </div>

  </div>

  <app-sprint-task-list-component [sprint]=sprint [sprintTasks]=sprintTasks
                                  [hidden]="!isListVisible"></app-sprint-task-list-component>
  <app-sprint-card-list-component [sprint]=sprint [sprintTasks]=sprintTasks [backlog]=backlog
                                  [hidden]="!isCardListVisible"></app-sprint-card-list-component>

  <app-burndown-chart-component [hidden]="!showChart" [multi]=multi></app-burndown-chart-component>
</div>
