.container {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  padding: 20px;
}

.search-name-input {
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  width: 200px;
  height: 38px;
  font-size: 15px;
  padding-left: 8px;
}

.search-button {
  border: 1px solid #b1b1b1;
  margin-left: 10px;
  height: 38px;
}


.create-task-btn {
  background-color: #9d6691; /*#72669d*/
  color: white;
  border: 1px solid #8c5580; /*#72669d*/
  height: 38px;
}

.btn-container-div {
  float: right;
}

.search-container {
  display: flex;
  float: left;
}

.table-task-operations-header, .table-task-SP-header {
  float: right;
}

.fa-times {
  color: darkred;
}

.fa-info {
  color: #78aaec;
}

div > button {
  font-size: 15px;
}

td > button, .story-point-input {
  float: right;
  width: 30px;
  font-size: 16px;
  margin: 5px 0 5px 5px;
  border: 1px solid #b1b1b1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.fa-user-circle-o {
  float: right;
  border: none;
  margin: 10px 0 5px 5px;
}

.table {
  margin-top: 50px;
  border-bottom: 1px solid #dee2e6;
}

.table > thead > tr > th {
  border: none;
}

.modal-header h3 {
  margin: auto;
}

.story-point-input {
  width: 30px;
  text-align: center;
}

.user-operation-div {
  margin-top: 10px;
  float: right;
}

.user-operation-div > button {
  height: 38px;
}

.go-to-board-btn{
  margin-right: 10px;
  height: 38px;
  min-width: 150px;
}

.fa-arrow-circle-left {
  margin-right: 4px;
}

.fa-trash{
  margin-right: 4px;
}

.delete-sprint-btn{
  background-color: #9d6691; /*#72669d*/
  color: white;
  border: 1px solid #8c5580; /*#72669d*/
  height: 38px;
  margin-right: 10px;
}

.sprint-days-input{
  width: 38px;
  height: 36px;
  margin-top: 2px;
  border-radius: 4px;
  padding: 0;
  border: 1px solid #b1b1b1;
}

.div-start-sprint {
  margin-bottom: 10px;
  margin-right: 10px;
  height: 36px;
}

.sprint-operation-div{
  display: flex;
}

.add-task-btn{
  height: 38px;
}


.fa-plus {
  color: #047800;
}

.end-sprint-btn {
  margin-right: 10px;
}

.fa-stop {
  color: #9c0a0a;
}

.fa-tasks, .fa-line-chart {
  margin-right: 5px;
}

.fa-eye {
  color: darkblue;
}
