<div class="modal-header">
  <h3>{{projectName}}</h3>
</div>

<div class="modal-body">
  <div>Project description
    <p>
      {{projectDescription}}
    </p>
  </div>
  <div>Project employees
    <p>{{projectEmployeeList}}</p>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn close-button" (click)="activeModal.close('Close click')">Close</button>
</div>
