p {
  word-wrap: break-word;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid lightgray;;
  padding: 5px;
}

.close-button {
  border-radius: 4px;
  border: 1px solid lightgray;;
  padding: 5px 10px;
  background-color: inherit;
}

.modal-header h3{
  margin: auto;
}
