.add-pointer:hover {
  cursor: pointer;
}

.div-page-container{
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.page-title-h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
