.navbar-inverse, .navbar-nav {
  background-color: #669D7E;
  border-color: #669D7E;
  border-radius: 0;
}

.navbar-nav {
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-nav {
  flex: auto;
}

ul {
  background-color: #669D7E;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}

li {
  float: left;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.navbar-nav a {
  color: white;
  display: block;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  //font-weight: bold;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

a:visited {
  color: white;
}

li:hover {
  background-color: #224b26;
  border-color: #224b26;
}

.active-link {
  background-color: #224b26;
  border-color: #224b26;
}

.navbar {
  padding: 0;
}

.log-out {
  float: right;
}

.li-project-name :hover{
  background-color: #669D7E;
  border-color: #669D7E;
}

