.cards-div {
  margin-top: 20px
}

.impl-div {
  height: 100px;
  border-radius: 6px;
  border: 1px solid #cd621c;
}

.to-do-div {
  height: 100px;
  border-radius: 6px;
  border: 1px solid #ca96b7;
}

.dtst-div {
  height: 100px;
  border-radius: 6px;
  border: 1px solid #e57e11;
}

.qa-div {
  height: 100px;
  border-radius: 6px;
  border: 1px solid #dd000a;
}

td {
  width: 15%;
}

.done-div {
  height: 100px;
  border-radius: 6px;
  border: 1px solid #047800;
}

.div {
  align-items: center;
}

.rev-div {
  height: 100px;
  border-radius: 6px;
  border: 1px solid #688fd0;
}

.card-info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
}

.next-div {
  display: flex;
}

.next-status-btn {
  float: right;
  height: 98px;
  border-radius: 5px;
  border: 1px solid #f6f5f708;
  margin-right: 0.1px;
  background-color: #e0e0e096;
}

.prev-status-btn {
  float: left;
  height: 98px;
  border-radius: 5px;
  margin-left: 0.1px;
  border: 1px solid #f6f5f708;
  background-color: #e0e0e096;
}
