<div class="cards-div">
  <table class="table table-hover">
    <thead>
    <tr>
      <th *ngFor="let status of statusList">{{ status }}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor='let task of sprintTasks; let i = index'>
      <td>
        <div *ngIf="task.status===statusList[0]" class="to-do-div">
          <div class="next-div">
            <div class="card-info-div">
              <span>{{ task.title }}</span>
              <span>{{ task.description }}</span>
            </div>
            <button class="next-status-btn" (click)="changeToNextStatus(i)"><i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </div>
      </td>
      <td>


        <div *ngIf="task.status===statusList[1]" class="impl-div">
          <div class="next-div">
            <button class="prev-status-btn" (click)="changeToPrevStatus(i)"><i class="fa fa-angle-double-left"></i>
            </button>
            <div class="card-info-div">
              <span>{{ task.title }}</span>
              <span>{{ task.description }}</span>
            </div>
            <button class="next-status-btn" (click)="changeToNextStatus(i)"><i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="task.status===statusList[2]" class="dtst-div">

          <div class="next-div">
            <button class="prev-status-btn" (click)="changeToPrevStatus(i)"><i class="fa fa-angle-double-left"></i>
            </button>
            <div class="card-info-div">
              <span>{{ task.title }}</span>
              <span>{{ task.description }}</span>
            </div>
            <button class="next-status-btn" (click)="changeToNextStatus(i)"><i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="task.status===statusList[3]" class="rev-div">

          <div class="next-div">
            <button class="prev-status-btn" (click)="changeToPrevStatus(i)"><i class="fa fa-angle-double-left"></i>
            </button>
            <div class="card-info-div">
              <span>{{ task.title }}</span>
              <span>{{ task.description }}</span>
            </div>
            <button class="next-status-btn" (click)="changeToNextStatus(i)"><i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="task.status===statusList[4]" class="qa-div">

          <div class="next-div">
            <button class="prev-status-btn" (click)="changeToPrevStatus(i)"><i class="fa fa-angle-double-left"></i>
            </button>
            <div class="card-info-div">
              <span>{{ task.title }}</span>
              <span>{{ task.description }}</span>
            </div>

            <button class="next-status-btn" (click)="changeToNextStatus(i)"><i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="task.status===statusList[5]" class="done-div">


          <div class="next-div">
            <button class="prev-status-btn" (click)="changeToPrevStatus(i)"><i class="fa fa-angle-double-left"></i>
            </button>
            <div class="card-info-div">
              <span>{{ task.title }}</span>
              <span>{{ task.description }}</span>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>


</div>
