<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div>

  <img src="../../assets/images/think_agile.PNG" />

  <form role="form" class="login-form">

    <div [hidden]=canLogin
         class="alert alert-danger"> {{errorMessage}}
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="username" name="username"  placeholder="Username" [(ngModel)]="username"  />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password " [(ngModel)]="password" />
    </div>
    <button type="submit" class="login-btn" (click)="login()">Login</button>
  </form>


</div>


