.login-form {
  padding: 30px;
  max-width: 350px;
  background-color: #F7F7F7;
  margin: auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: roboto;
}

input {
  font-size: 14px;
  padding-left: 8px;
  border-radius: 4px;
}

.login-btn{
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  width: 100%;
  margin-top: 8px;
  padding: 0 8px;
  background-color: #669D7E;
  border-color: #538e6c;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
}

.login-btn:hover {
  background-color: #568d6e;
  border-color: #437c5b;
}


img{
  height: 100px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
