.user-data-div {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 350px;
  background-color: #F7F7F7;
  margin: auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: roboto;
  margin-top: 50px;
}

span {
  border-radius: 4px;
  border: 1px solid #545b62;
  text-align: center;
  margin-bottom: 5px;
}
