<app-scrum-navbar-component></app-scrum-navbar-component>
<div class="user-data-div">
  <!--insert usr image-->

  <!--<span>{{user.mail}}</span>-->
  <!--<span>{{user.role}}</span>-->
  <!--<span>{{user.phoneNumber}}</span>  -->
  <!---->

  <span>test</span>
  <span>user</span>
  <span>0770274086</span>
</div>
