.container-div {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.project-card-div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 15%;
  height: 20%;
  border-radius: 6px;
  border: 1px solid #b9680a;
  min-height: 300px;
}

.project-card-div:hover{
  box-shadow: 0px 0px 18px #b9680a;
}

.project-card-div p {
  word-wrap: break-word;
}

.project-card-description {
  color: black;
  margin: 5px;
}

.project-card-name{
  color: white;
  text-align: center;
  background-color: rgba(178, 117, 9, 0.67);
  margin-bottom: 0px;
  height: 25px;
  font-weight: bold;
}

.project-card-description {
  margin: 5px;
}

.divider {
  background-color: #b94700;
  height: 1px;
}
