<app-scrum-navbar-component></app-scrum-navbar-component>
<h3 class="page-title-h3">Project list</h3>
  <div class="div-page-container container-div">
    <div class="add-pointer project-card-div" *ngFor="let p of projects, let i=index" (click)="goToBoard(i)">
      <p class="project-card-name">{{ p.name }}</p>
      <div class="divider"></div>
      <p class="project-card-description">{{ p.description }}</p>
    </div>
  </div>

