<div class="modal-header">
  <h3>{{title}}</h3>
</div>
<div class="modal-body" [hidden]= !warningMessage>No users are added for this project yet.</div>
<div class="modal-body" [hidden]= !warningMessageAdmin>No users in DB</div>
<div class="modal-body" [hidden]= warningMessage||warningMessageAdmin>
  <div class="search-container">
    <input type="text" class="search-name-input" [(ngModel)]="searchedValue" placeholder="User name"
           (keyup)="testIfUserNameIsEmpty()">
    <button class="btn search-button" type="submit" (click)="searchUser()"><i class="fa fa-search"></i> Search
    </button>
  </div>

  <div class="table-container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="table-user-name-header">User Name</th>
        <th class="table-user-operations-header">Add/Remove user</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor='let user of users; let i = index'>
        <td>{{ user.firstName }} {{ user.lastName }} {{ user.mail }}</td>
        <td>
          <button class="btn add-user-to-proj-btn" [disabled]="isPmSelected()" [hidden]="user.isAdded"
                  (click)="addUser(i)"><i
            class="fa fa-plus "></i></button>
          <button class="btn remove-user-from-proj-btn" [disabled]="isCurrentUser(user)" [hidden]="!user.isAdded"
                  (click)="removeUser(i)"><i
            class="fa fa-minus "></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn save-button" (click)="updateUserList()">Save</button>
  <button type="button" class="btn close-button" (click)="closeDialog()">Close</button>
</div>
