td button {
  float: right;
}

thead > tr > th:last-child {
  float: right;
}

thead > tr > th {
  border: none;
}

button, input {
  border-radius: 4px;
  border: 1px solid lightgray;;
  padding: 5px 10px;
  background-color: inherit;
}

.save-button {
  background-color: #224b26;
  color: white;
  width: 80px;
}

.search-container {
  display: flex;
}

.search-container input {
  margin-right: 10px;
}

.fa-minus {
  color: darkred;
}

.fa-plus {
  color: #048000;
}

.modal-header h3{
  margin: auto;
}
