<app-scrum-navbar-component></app-scrum-navbar-component>
<h3 class="page-title-h3">Backlog tasks</h3>
<div class="div-page-container container">
  <div class="operations-container">
    <div class="search-container">
      <button class="btn go-to-board-btn" (click)="goToBoardItems()"><i class="fa fa-arrow-circle-left"></i>Back To
        Board
      </button>
      <input type="text" class="search-name-input" [(ngModel)]="taskTitle" placeholder="Task name"
             (keyup)="testIfEmpty()">
      <button class="btn search-button" type="submit" (click)="searchTask()"><i class="fa fa-search"></i> Search
      </button>
    </div>

    <div [hidden]="!isProductOwner" class="btn-container-div">
      <button class="btn create-task-btn" (click)="createTask()"><i class="fa  fa-tasks"></i> Create task</button>
    </div>

  </div>

  <div class="table-container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="table-task-name-header">Task Name</th>
        <th class="table-task-operations-header">Operations</th>
        <!--<th class="table-task-SP-header">SP</th>-->
      </tr>
      </thead>


      <tbody>
      <tr *ngFor='let task of tasks; let i = index'>
        <td>{{ task.title }}</td>
        <td>
          <button class="btn delete-task" (click)="removeTask(i)"><i class="fa fa-times "></i></button>
          <button class="btn info" (click)="displayTaskInfo(i)"><i class="fa fa-info"></i></button>
          <input class="story-point-input" disabled value={{task.storyPoints}}>
          <i class="fa fa-user-circle-o"></i>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
