<div class="table-container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="table-task-name-header">Task Name</th>
      <th class="table-task-operations-header">Operations</th>
      <!--<th class="table-task-SP-header">SP</th>-->
    </tr>
    </thead>


    <tbody>
    <tr *ngFor='let task of sprintTasks; let i = index'>
      <td>{{ task.title }}</td>
      <td>
        <button class="btn delete-task" [disabled]="task.status=='Done'" (click)="removeTask(i)"><i class="fa fa-times "></i></button>
        <button class="btn info" (click)="displayTaskInfo(i)"><i class="fa fa-info"></i></button>
        <input class="story-point-input" disabled value={{task.storyPoints}}>
        <i class="fa fa-user-circle-o"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
