<app-scrum-navbar-component></app-scrum-navbar-component>
<h3 class="page-title-h3">Manage board</h3>

<div class="div-page-container">
  <div class="buttons-div">
    <div class="btn go-to-board-div">
      <button class="btn go-to-board-list" (click)="goBackToBoard()"><i class="fa fa-arrow-circle-left"></i>Back to list
      </button>
    </div>

    <div [hidden]="!isProductOwner" class="create-new-div">
      <button class="btn delete-current-board" (click)="deleteBoard()"><i class="fa fa-trash"></i>Delete current board
      </button>
      <button class="btn add-users-to-board" (click)="addUsersToBoard()"><i class="fa fa-user-plus"></i>Add users
      </button>
      <button class="btn create-new-sprint" (click)="createNewSprint()"><i class="fa fa-list-alt"></i>Create sprint
      </button>

    </div>
  </div>

  <div class="container-card-div">

    <div class="add-pointer backlog-card-div" (click)="goToBacklog()">
      <i class="fa fa-tasks"></i>
      <p class="backlog-card-key">Backlog</p>
    </div>

    <div class="add-pointer sprint-card-div" *ngFor="let s of sprints, let i=index" (click)="goToSprint(i)">
      <p class="sprint-card-key">Sprint no: {{ s.sprintNo }}</p>
      <div class="divider"></div>
      <p [hidden]="!isSprintActive(i)" class="sprint-card-active"><i class="fa fa-play" aria-hidden="true"></i>Ongoing</p>
      <p [hidden]="isSprintActive(i) || isSprintDone(i)" class="sprint-card-active"><i class="fa fa-fast-forward" aria-hidden="true"></i>Next</p>
      <p [hidden]="!isSprintDone(i)" class="sprint-card-active"><i class="fa fa-check" aria-hidden="true"></i>Done</p>


    </div>
  </div>
</div>
