.container-card-div {
  display: inline;
  max-width: inherit;
  //padding: 20px 20px;
}

.sprint-card-div {
  float: left;
  margin: 20px 20px 10px 0px;
  height: 150px;
  border-radius: 6px;
  border: 1px solid #DFA42D;
  width: 15%;
}

.sprint-card-key {
  background-color: rgba(253, 220, 122, 0.46);
  text-align: center;
  height: 30px;
  margin-bottom: 0px;
  font-weight: bold;
}

.sprint-card-div:hover {
  box-shadow: 0px 0px 20px #f6b588;
}

.divider {
  background-color: #bc9b5e;
  height: 1px;
}

.backlog-card-div {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-radius: 6px;
  align-items: center;
  float: left;
  margin: 20px 20px 10px 0px;
  height: 150px;
  border-radius: 6px;
  border: 1px solid #000000;
  width: 15%;
}

.backlog-card-div:hover {
  box-shadow: 0px 0px 18px rgba(62, 38, 68, 0.72);
}

.backlog-card-key {
  padding-top: 10px;
  font-weight: bold;
}

.create-new-sprint {
  margin: 20px 0px 20px 20px;
  background-color: #9d6691;
  color: white;
  border: 1px solid #8c5580;
  min-width: 150px;
  height: 38px;
}

.add-users-to-board {
  margin: 20px;
  background-color: #72669d;
  color: white;
  border: 1px solid #72669d;
  min-width: 150px;
  height: 38px;
}

.delete-current-board {
  margin: 20px;
  background-color: #9c0a0a;
  color: white;
  border: 1px solid #9c0a0a;
  min-width: 150px;
  height: 38px;
}

.fa {
  margin-right: 4px;
}

p {
  text-align: center;
  word-wrap: break-word;
}

.create-new-div {
  display: flex;
  float: right;
}

.go-to-board-div {
  padding: 0px;
  //margin-left: 10px;
}

.go-to-board-list {
  margin: 20px 0px;
  float: left;
  height: 38px;
  min-width: 150px;
}

.sprint-card-number, .sprint-card-active {
  margin: 5px;
}

.fa-tasks {
  padding-top: 20px;
}

.sprint-card-active {
  padding-top: 20px;
}

.fa-check {
  color: #669D7E;
}

.fa-play {
  color: rgb(207, 143, 23)
}
