<app-login-component *ngIf="isVisible"></app-login-component>
<router-outlet></router-outlet>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
