<app-scrum-navbar-component></app-scrum-navbar-component>
<div class="div-page-container container-retrospective">
  <div>
    <span>Continue doing</span>
    <div *ngFor='let cd of continueDoing; let i = index'>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <textarea class="form-control" disabled rows="1">{{ cd.message }}</textarea>
    </div>
    <div>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <textarea class="form-control"  rows="1"  [(ngModel)]="continue_txt" maxlength="200" (keydown.enter)="addToContinue();false"></textarea>
    </div>
  </div>

  <div>
    <span>Stop doing</span>
    <div>
      <div *ngFor='let stop of stopDoing; let i = index'>
        <i class="fa fa-ban" aria-hidden="true"></i>
        <textarea class="form-control" rows="1" disabled>{{ stop.message }}</textarea>
      </div>

      <i class="fa fa-ban" aria-hidden="true"></i>
      <textarea class="form-control" rows="1" [(ngModel)]="stop_txt" maxlength="200" (keydown.enter)="addToStopDoing();false"></textarea>
    </div>
  </div>

  <div>
    <span>Start doing</span>
    <div>

      <div *ngFor='let start of startDoing; let i = index'>
        <i class="fa fa-play-circle" aria-hidden="true"></i>
        <textarea class="form-control" rows="1" disabled>{{ start.message }}</textarea>
      </div>

      <i class="fa fa-play-circle" aria-hidden="true"></i>
      <textarea class="form-control" rows="1" [(ngModel)]="start_txt" maxlength="200" (keydown.enter)="addToStartDoing();false"></textarea>
    </div>
  </div>
</div>
