.container-retrospective {
  display: flex;
  flex-direction: row;
  min-height: 500px;
}

.container-retrospective > div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 50%;
  min-height: 500px;
  border: 1px solid #c7c3c3;
  border-radius: 4px;
}

div > span {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.fa {
  margin-left: 5px;
  margin-top: 10px;
  width: 5%;
  vertical-align: top;
}

textarea {
  width: 80%;
  border: 1px solid #c7c3c3;
  border-radius: 4px;
  margin: 0px;
  display: inline;
  min-height: 30px;
  max-height: 100px;
}
