<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin operations</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav" >
          <li  role="presentation"><a routerLink="/admin/users"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">Users</a></li>
          <li  role="presentation"><a routerLink="/admin/projects"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">Projects</a></li>

          <li class="log-out" role="presentation"><a routerLink="/" (click)="logOut()"><i class="fa fa-power-off"></i></a></li>

        </ul>
    </nav>
  </body>
</html>

