//.navbar-inverse, .navbar-nav {
//  background-color: #669D7E;
//  border-color: #669D7E;
//  border-radius: 0;
//}
//
//.navbar-nav {
//  flex: auto;
//}
//
//ul {
//  background-color: #669D7E;
//  color: white;
//  list-style-type: none;
//  margin: 0;
//  padding: 0;
//  overflow: hidden;
//  display: inline;
//}
//
//li {
//  float: left;
//}
//
//img {
//  max-height: 100%;
//  max-width: 100%;
//}
//
//.navbar-nav a {
//  color: white;
//  display: block;
//  text-align: center;
//  padding: 14px 16px;
//  text-decoration: none;
//}
//
//a:visited {
//  color: white;
//}
//
//li:hover {
//  background-color: #224b26;
//  border-color: #224b26;
//}
//
//.active-link {
//  background-color: #224b26;
//  border-color: #224b26;
//}
//
//.navbar {
//  padding: 0;
//}
//
//.log-out {
//  float: right;
//}
