button {
  border-radius: 4px;
  border: 1px solid lightgray;;
  padding: 5px 10px;
  background-color: inherit;
  width: 80px;
}

.save-button {
  background-color: #224b26;
  color: white;
  width: 80px;
}

textarea {
  min-height: 50px;
  max-height: 200px;
}

.modal-header h3{
  margin: auto;
}

.alert-danger {
  margin-top: 17px;
}

.fa-calendar{

}
