<div class="modal-header">
  <h3>Create new project</h3>
</div>
<div class="modal-body">
  <form #projectForm="ngForm" novalidate>

    <div [hidden]=canCreateProject
         class="alert alert-danger"> Already exist project with this name.
    </div>

    <div [hidden]="prjNam.valid || prjNam.pristine"
         class="alert alert-danger">
      <div [hidden]="!prjNam.hasError('required')">Name is required</div>
    </div>

    <div>
      <label for="projectName">Enter the project name</label>
      <input type="email" class="form-control" id="projectName" placeholder="Project name" name="projectName"
             [(ngModel)]="projectName" required #prjNam="ngModel">
    </div>


    <div [hidden]="prjDescr.valid  || prjDescr.pristine"
         class="alert alert-danger">
      <div [hidden]="!prjDescr.hasError('required')">Desrciption is required</div>
    </div>

    <div class="form-group">
      <label for="description-text-area">Project Description</label>
      <textarea class="form-control" id="description-text-area" rows="3" name="projectDescription"
                required
                #prjDescr="ngModel"
                [(ngModel)]="projectDescription" placeholder="Insert project description..."></textarea>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn save-button" [disabled]="!projectForm.form.valid" (click)="createNewProject()">
        Save
      </button>
      <button type="button" class="btn close-button" (click)="activeModal.close('Close')">Close</button>
    </div>

  </form>
</div>


