.container {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  padding: 20px;
}

.search-name-input {
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  width: 200px;
  height: 38px;
  font-size: 15px;
  padding-left: 8px;
}

.search-button {
  border: 1px solid #b1b1b1;
  margin-left: 10px;
  height: 38px;
}


.create-task-btn {
  background-color: #9d6691; /*#72669d*/
  color: white;
  border: 1px solid #8c5580; /*#72669d*/
  height: 38px;
}

.btn-container-div {
  float: right;
}

.search-container {
  display: flex;
  float: left;
}

.table-task-operations-header, .table-task-SP-header {
  float: right;
}


.fa-times {
  color: darkred;
}

.fa-info {
  color: #78aaec;
}

div > button {
  font-size: 15px;
}

td button, .story-point-input {
  float: right;
  width: 30px;
  font-size: 16px;
  margin: 5px 0 5px 5px;
  border: 1px solid #b1b1b1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.fa-user-circle-o {
  float: right;
  border: none;
  margin: 10px 0 5px 5px;
}

.table {
  margin-top: 50px;
  border-bottom: 1px solid #dee2e6;
}

.table > thead > tr > th {
  border: none;
}

.modal-header h3 {
  margin: auto;
}

.story-point-input {
  width: 30px;
}

.story-point-input {
  text-align: center;
}

.save-button {
  background-color: #224b26;
  color: white;
  width: 80px;
}

.close-button {
  width: 80px;
}

.fa-plus {
  color: #224b26;
}
