<div class="modal-header">
  <h3>Add tasks to sprint</h3>
</div>

<div class="modal-body">
  <div class="container">
    <div class="operations-container">
      <div class="search-container">
        <input type="text" class="search-name-input" [(ngModel)]="taskTitle" placeholder="Task name"
               (keyup)="testIfEmpty()">
        <button class="btn search-button" type="submit" (click)="searchTask()"><i class="fa fa-search"></i> Search
        </button>
      </div>

    </div>

    <div class="table-container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="table-task-name-header">Task Name</th>
          <th class="table-task-SP-header">SP</th>
          <th class="table-task-SP-header">Add</th>
        </tr>
        </thead>


        <tbody>
        <tr *ngFor='let task of tasks; let i = index'>
          <td>{{ task.title }}</td>
          <td>
            <input class="story-point-input" disabled value={{task.storyPoints}}></td>
          <td>
            <button class="btn add-user-to-proj-btn" (click)="addTask(i)"><i class="fa fa-plus "></i></button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn close-button" (click)="activeModal.close(addedTaskList)">Close</button>
  </div>
</div>
