<!DOCTYPE html>
<html lang="en">
<body>
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li role="presentation"><a routerLink="/user" routerLinkActive="active-link"
                               [routerLinkActiveOptions]="{exact:true}">Dashboard</a></li>
    <li role="presentation"><a routerLink="/user/projects" routerLinkActive="active-link"
                               [routerLinkActiveOptions]="{exact:true}">Projects</a></li>
    <li class="log-out" role="presentation"><a routerLink="/" (click)="logOut()"><i class="fa fa-power-off"></i></a>
    </li>
    <li class="my-account" role="presentation"><a routerLink="/user/account" routerLinkActive="active-link"
                                                  [routerLinkActiveOptions]="{exact:true}">My Account</a></li>
  </ul>
</nav>

</body>
</html>
