<app-scrum-navbar-component></app-scrum-navbar-component>

<h3 class="page-title-h3">Board list of {{projectName}} project</h3>

<div class="create-new-board">
  <button class="btn create-new-board-btn" [hidden]="!isProductOwner" (click)="createNewBoardPopup()"><i
    class="fa fa-window-maximize"></i> Create board
  </button>
</div>

<div class="div-page-container container-card-div">
  <div class="add-pointer board-card-div" *ngFor="let b of boards, let i=index" (click)="goToItem(i)">
    <!--<p class="board-card-key"><i class="fa fa-window-maximize"></i>{{ b.key }}</p>-->
    <!--<div class="divider"></div>-->
    <p class="board-card-name">{{ b.name }}</p>
  </div>
</div>
