.container-card-div {
  max-width: inherit;
  padding: 70px 30px;

}

.board-card-div {
  margin: 10px 30px 10px 0px;
  float: left;
  width: 15%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #9a6a31;
}

.board-card-div:hover {
  box-shadow: 0px 0px 18px rgb(171, 118, 54);
}

.create-new-board-btn {
  float: right;
  margin: 20px;
  background-color: #9d6691;//#72669d;
  color: white;
  border: 1px solid #9d6691; //#72669d;
  height: 38px;
}

p {
  text-align: center;
  word-wrap: break-word;
}

.divider {
  background-color: #ab800563;
  height: 1px;
}

.board-card-name{
  margin: 5px;
}

.board-card-key {
  background-color: #ffcd4721; //#ffcd4757; // #ffcd4721
  margin-bottom: 0px;
  height: 30%;
  font-weight: bold;
  text-align: center;
}

.fa {
  margin: 5px;
  font-weight: normal;
}
