<app-admin-navbar-component></app-admin-navbar-component>

<div class="container">
  <div class="operations-container">
    <div class="search-container">
      <input type="text" class="search-name-input" [(ngModel)]="projectName" placeholder="Project name" (keyup)="testIfEmpty()">
      <button class="btn search-button" type="submit" (click)="searchProject()"><i class="fa fa-search"></i> Search</button>
    </div>

    <div class="create-new-project">
      <button  class="btn create-new-project-btn" (click)="displayCreateNewProjectPopup()">Create project</button>
    </div>
  </div>

  <div class="table-container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="table-project-name-header">Project Name</th>
        <th class="table-project-operations-header">Operations</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor='let project of projects; let i = index'>
        <td>{{ project.name }}</td>
        <td>
          <button class="btn delete-project" (click)="removeProject(i)"><i class="fa fa-times "></i></button>
          <button class="btn add-people" (click)="displayUsersPopUp(i)"><i class="fa fa-user-plus"></i></button>
          <button class="btn add-pm-usr-btn" (click)="displayPMUsersPopUp(i)"><i class="fa fa-plus">PM</i></button>
          <!--<button class="btn add-people" (click)="displayUsersPopUp(i)"><i class="fa fa-userMail-plus"></i></button>-->
          <button class="btn info" (click)="displayProjectInfo(i)"><i class="fa fa-info"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
