<app-admin-navbar-component></app-admin-navbar-component>

<div class="container">
  <div class="operations-container">
    <div class="search-container">
      <input type="text" class="search-name-input" [(ngModel)]="searchedValue" placeholder="User name" (keyup)="testIfEmpty()">
      <button class="btn search-button" type="submit" (click)="searchUser()"><i class="fa fa-search"></i> Search</button>
    </div>

    <div class="create-new-user">
      <button  class="btn create-new-user-btn" (click)="displayCreateNewUserPopup()"><i class="fa fa-user-plus"></i> Create user</button>
    </div>
  </div>

  <div class="table-container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="table-user-name-header">User Name</th>
        <th class="table-user-operations-header">Operations</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor='let user of userList; let i = index'>
        <td>{{ user.firstName }} {{ user.lastName }} </td>
        <td>
          <button class="btn delete-user" (click)="removeUser(i)"><i class="fa fa-times "></i></button>
          <button class="btn user-image" disabled><i class="fa fa-users"></i></button>
          <!--<button class="btn add-people" (click)="displayUsersPopUp(i)"><i class="fa fa-userMail-plus"></i></button>-->
          <button class="btn info" (click)="displayUserInfo(i)"><i class="fa fa-info"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
