.container {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  width: 95%;
}

.operations-container {
  margin-top: 30px;
}

.create-new-user {
  float: right;
}

.search-container {
  display: flex;
  float: left;
}

.table-user-operations-header {
  float: right;
}

.search-name-input {
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  width: 200px;
  height: 35px;
  font-size: 15px;
  padding-left: 8px;
}

.search-button {
  border: 1px solid #b1b1b1;
  margin-left: 10px;
}

.create-new-user-btn {
  background-color: #9d6691; /*#72669d*/
  color: white;
  border: 1px solid #8c5580; /*#72669d*/
}

.fa-times {
  color: darkred;
}

.fa-info {
  color: #78aaec;
}

div > button {
  border-radius: 4px;
  height: 35px;
  font-size: 15px;
}

td button {
  float: right;
  border: none;
  width: 30px;
  font-size: 16px;
  margin: 5px 0 5px 5px;
  border: 1px solid #b1b1b1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  margin-top: 50px;
}

.table > thead > tr > th {
  border: none;
}

.modal-header h3{
  margin: auto;
}
