<div class="modal-header">
  <h3 [hidden]="!isCreationActivated">Create new task</h3>
  <h3 [hidden]="isCreationActivated">Task details</h3>
</div>

<div class="modal-body">
  <form #projectForm="ngForm" novalidate>

  <!--  <div [hidden]="isCreationActivated">
      <label for="taskName">Task key</label>
      <input disabled type="text" class="form-control" id="taskKey" name="taskKey"
             [(ngModel)]="taskKey">
    </div>-->

    <div [hidden]="taskNam.valid || taskNam.pristine"
         class="alert alert-danger">
      <div [hidden]="!taskNam.hasError('required')">Name is required</div>
    </div>

    <div [hidden]=canCreateTask
         class="alert alert-danger"> Already exist task with this name.
    </div>

    <div>
      <label for="taskName">Enter the task name</label>
      <input type="text" class="form-control" id="taskName" placeholder="Task name" name="taskName"
             [(ngModel)]="taskTitle" required #taskNam="ngModel">
    </div>


    <div [hidden]="taskDescription.valid  || taskDescription.pristine"
         class="alert alert-danger">
      <div [hidden]="!taskDescription.hasError('required')">Description is required</div>
    </div>

    <div class="form-group">
      <label for="description-text-area">Task Description</label>
      <textarea class="form-control" id="description-text-area" rows="3" name="description"
                required
                #taskDescription="ngModel"
                [(ngModel)]="description" placeholder="Insert task description..."></textarea>
    </div>

    <div>
      <label for="status">Status</label>
      <select class="form-control" id="status" placeholder="status" name="status"
              [(ngModel)]="status">
        <option *ngFor="let currentStatus of statusList" value="{{ currentStatus }}" selected>{{ currentStatus }}</option>
      </select>
    </div>


    <div>
      <label for="watcher">Watcher</label>
      <select class="form-control" id="watcher" placeholder="watcher" name="watcher"
              [(ngModel)]="watcherMail">
        <option *ngFor="let user of boardUsers" value="{{user.user.user.mail}}" selected>{{ user.user.user.mail }}</option>
      </select>
    </div>

    <div>
      <label for="assigneeMail">Assignee</label>
      <select class="form-control" id="assigneeMail" placeholder="assigneeMail" name="assigneeMail"
              [(ngModel)]="assigneeMail">
        <option *ngFor="let boardUser of boardUsers" value="{{boardUser.user.user.mail}}" selected>
         {{ boardUser.user.user.mail }}
        </option>
      </select>
    </div>

    <div>
      <div [hidden]="points.valid || points.pristine"
           class="alert alert-danger">
        <div [hidden]="!points.hasError('pattern')">SP should contains only numbers</div>
      </div>

      <label for="storyPoints">Story Points</label>
      <input value="0" type="text" class="form-control" id="storyPoints" name="storyPoints"
             [(ngModel)]="storyPoints"
             pattern="[0-9]*"
             minlength="0"
             maxlength="3"
             aria-valuemax="100"
             #points="ngModel">
    </div>

    <div>
      <label for="priority">Priority</label>
      <select class="form-control" id="priority" name="priority"
              [(ngModel)]="priority">
        <option *ngFor="let p of priorityList" value="{{p}}" selected>{{ p }}</option>
      </select>
    </div>

    <div [hidden]="comments===[] || comments.length===0" class="comment-div">
      <div *ngFor="let comment of comments">
        <div class="comment-user-div">{{ comment.userEmail }}</div>
        <div class="comment-description-div">{{ comment.description }}</div>
      </div>
    </div>

    <div>
       <textarea class="form-control" id="comm-description-text-area" rows="3" name="commentDescription"
                 [(ngModel)]="commentDescription" placeholder="Add comment..."></textarea>
    </div>

    <div class="modal-footer">
      <button [hidden]="!isCreationActivated" type="submit" class="btn save-button" [disabled]="!projectForm.form.valid"
              (click)="createNewTask()">
        Save
      </button>

      <button [hidden]="isCreationActivated" type="submit" class="btn update-button"
              [disabled]="!projectForm.form.valid" (click)="updateTaskDetails()">
        Update
      </button>
      <button type="button" class="btn close-button" (click)="activeModal.close('Close')">Close</button>
    </div>
  </form>
</div>


