textarea {
  min-height: 50px;
  max-height: 200px;
}

.comment-div {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #CED4DA;;
}
.comment-div > div {
  margin: 5px;
}
.comment-user-div{
  font-weight: bold;
}

.comment-description-div {
  word-wrap: break-word;
}

.modal-header h3{
  margin: auto;
}
