<app-scrum-navbar-component></app-scrum-navbar-component>

<div class="div-page-container table-container">
  <h3>Latest updates</h3>

  <table class="table table-hover">
    <thead>
    <tr>
      <th class="table-task-name-header">Task Name</th>
      <th class="table-project-name-header">Project</th>
      <th class="table-actualiz-date-header">Actualization date</th>
    </tr>
    </thead>


    <tbody>
    <tr *ngFor='let d of dashboard; let i = index' (click)="goToTask(i)">
      <td>{{ d.taskDto.title }}</td>
      <td>{{ d.projectDto.name }}</td>
      <td>{{ d.taskDto.actualizationDate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
    </tr>
    </tbody>
  </table>
</div>
